<div id="aboutTitle">
    <div>
        <h1 id="mainTitleAbout">Let us tell you a bit about our story</h1>
        <h2 id="subHeadingAbout">Briceño Web Consulting was born with a clear vision of the future of web development, and what a web application should be.<br>
        </h2>
    </div>
</div>

<section id="aboutSection">
    <div class="contentTitleAbout">
        <h1>Our founder</h1>
    </div>
    <div class="mainContent">
        <p>Jesús Briceño - Web Developer, Psychologist<br>
            Born in Venezuela in 1989, he developed an everlasting love for technology since he discovered the magic of videogames when he was a child.<br>
            His curiosity in human behavior first led him to fulfill his first professional milestone, getting a Licentiate Degree in Clinical Psychology.<br>
            Searching for an outlet for his creativity, he started to experiment with music and design through web development and music production in his free time.
            Nowadays, he is a full-fledged web developer interested in constantly learning new technologies and methodologies to give his clients the best experience and products that they deserve. 
        </p>
        <img class="contentImg" id="founder" src="assets/founder1.jpg">
    </div>
    <div class="contentTitleAbout">
        <h1>Mission and Vision</h1>
    </div>
    <div class="mainContent">
        <img class="contentImg" src="assets/mission-vision.jpg">
        <p>We have felt since the very inception of our team that web pages and applications need to be simplified for everyone.
            Sometimes, a simpler, well designed page communicates better that an over developed one. And better communication 
            <i>always</i> translate into more satisfied clients.<br>
            And so it is our mission to be at tha vanguard of world class web page design, with the best technology available,
            so we can empower our clients and give them powerful tools for success.<br>
            It is with this mentality that we envision ourselves as the go-to team for your communication and marketing efforts,
            and the standard for web development for the years to come.

        </p>        
    </div>
</section>