<div id="homeTitle">
    <div>
        <h1 id="mainTitle">Web development<i>, simplified for you.</i><br></h1>
        <h2 id="subHeading">We take your web comunication needs, and make them our own</h2>        
    </div>
    <img id="homeLogo" src="assets/logo1.svg">
</div>

<section id="contentSection">
    <div class="contentTitle">
        <h1>What we do</h1>
    </div>
    <div class="mainContent">
        <p>Web design and development, that's what we do around here.<br>
        And we do it with <i>passion.</i><br><br>
        We strive to deliver web applications that are easy to understand and use, thinking first and foremost in <i>our clients needs</i>, 
        and the <i>end user</i> of the solution.<br>
        We highly respect the user’s time, so we make sure that it is not wasted. 
        </p>
        <img class="contentImg" src="assets/whatWeDo.jpg">
    </div>
    <div class="contentTitle">
        <h1>How we do it</h1>
    </div>
    <div class="mainContent">
        <img class="contentImg" src="assets/howWeDo.png">
        <p>How we do it? We're very glad you ask!<br>
        We use what we consider the best technology around, Google's own <i>Angular.</i> We are very fond of Google take on web apps development.
        This means that we can use this technology to build amazing scalable web apps for just about every purpose. <br>
        Do you need a simple personal webpage for you to show your friends? Sure, we can do it.<br>
        Do you need a complex e-commerce web app for your fastly growing business? We got you covered!<br>
        Our aproach makes us very flexible for your needs, because <i>you are our priority.</i></p>        
    </div>
    <div class="contentTitle">
        <h1>Why we do it</h1>
    </div>
    <div id="footerBorderHome" class="mainContent">
        <p>
            A well-designed web page can help you reach your customers or any kind of audience in ways that you cannot even imagine.<br>
            Good design means good communication, and communication is key in the development of your organization. <br><br>
            Designing your web app and making sure that you grow is our own way to make the world a better place, beacuse if you win, we all win!<br>
        </p>
        <img class="contentImg" src="assets/whyWeDo.jpg">
    </div>
</section>